.contentHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #eee
}

.imgHome {
    /* margin: 10px; */
    width: 100%;
    height: 200px;
    object-fit: cover; 
}

.secetionCard {
    display: flex;
}

.sectionImg {
    display: flex;
    flex-direction: row-reverse;
}

.imgChefe {
    /* width: 50%; */
    /* height: 300px; */
    object-fit: cover;
}

.titleChefe {
    color: #000
}

.mapHome {
    max-width: 380px;
    height:auto;
}

.titleHomeContent {
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 20px;
    background-image: url();
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    object-fit: cover;
    position: relative;
}
.titleSpan {
    color: var(--primary-color);
}

.imagemHome {
    width: 100%;
    object-fit: cover;
}
.sectionIcons {
    display: flex;
    justify-content: space-around;
    max-width: 1120px;
    margin: 30px;
}

.iconsHome {
    color: var(--primary-color);
    font-size: 60px;
}

.contentListHome {
    display: flex;
    justify-content: space-around;
    max-width: 1800px;
    width: 100%;
    margin: 20px 0px
}

.titleHome {
    font-size: 60px;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    background: rgba(241, 236, 236, 0.3);
    width: 100%;
    bottom: 176px;
    text-align: center;
}

.secondTitleHome {
    font-size: 40px;
    color: #000 ;
    align-self: center;
}

.contentListHomeRevert {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    max-width: 1800px;
    width: 100%;
    margin: 10px;
}

.contentListHome .iconsHomeList {
    color: var(--button-color);
    font-size: 22px;
}

.contentListHome .contentImgHome {
    width: 380px
}

.contentImgHome .imgListHome{
    width: 100%;
    height: auto;
}

.contentContact {
    /* width: 380px; */
    overflow: hidden;
    display: flex;
    gap: 20px;
    @media (min-width: 0px) and (max-width: 720px) {
        overflow: auto
    }
}

.contentDowImg {
    background-color: var(--background-dark);
    color: var(--white-color);
    display: flex;
    justify-content:space-evenly;
    padding: 10px;
    font-size: 14px;
    width: 100%;
}

.iconWhatsapp {
    color: var(--white-color);
    font-size: 22px;
    transition: 0.3s;
    cursor: pointer;
}

.iconWhatsapp:hover {
    transform: scale(1.2);
}

.containerTablesHome {
    background-color: var(--background-dark);
    max-width: 1120px;
    align-self: center;
    padding: 20px;
    margin: 20px;
    display: flex;
}
.containerTablesHome .clockTable {
    font-size: 80px;
    color: var(--background-light);
    margin: 10px;
}

.containerTablesHome .timeQueue {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 600;
    align-self: center;
    margin: 0px 10px;
}

.containerCardsHome {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    background: #eee;
    padding: 30px;
}
 


.contentCardsHome {
    display: flex ;
    
}