.containerMesa {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerCardMesa {
    display: flex;
    flex-direction: column;
    border: solid 2px #000;
    max-width: 420px;
    margin: 10px;
    background: var(--white-color);
    padding: 10px;
    border-radius: 10px;
}

.containerCardMesaRun {
    display: flex;
    flex-direction: column;
    border: solid 2px #000;
    max-width: 420px;
    margin: 10px;
    background: var(--white-color);
    padding: 10px;
    border-radius: 10px;
    opacity: 0.4;
}

.topMesa {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: var(--background-dark);
}

.contentMesas {
    display: grid ;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    width: 100%;
}