header {
    background: var(--primary-color);
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
}

header .menu{
    justify-content: space-between;
}


.containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

.titleHeader {
    width: 100%;
    font-weight: 500;
    font-size: 1.6rem;
}

.searchInput {
    display: flex;
    background: #fafafa;
    /* padding: 6px; */
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.inputSearchHeader {
    border-radius: 10px;
    height: 40px;
    margin: 10px;
}

.iconLogin {
    margin: 10px 30px 10px 30px;
    cursor: pointer;
    border-radius: 50%;
    border: solid 2px #FFF;
    color: #FFF;
    width: 80px;
    height: auto;
    transition: 0.3s;
}

.iconLogin:hover {
    background: #FFF;
    border-color: #000;
    color: #000;
    opacity: 0.5;
}

.iconSearch {
    margin-right: 10px;
}

.naviContent {
    /* background-color: var(--black-color); */
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.buttonNav {
    padding: 4px;
    margin: 8px;
    border: solid 2px transparent;
    border-radius: 15px;
    transition: 0.3s;
    background: var(--white-color);
    color: var(--black-color)
}

.buttonNav:hover {
    border: solid 2px var(--white-color);
    border-color: var(--white-color); 
    background-color: var(--black-color);
    color: var(--white-color);
}

