.funcionario-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.funcionario-header h1 {
    font-weight: 500;
    font-size: 22px;
}

.containerFunc {
    display: flex;
    flex-direction: column;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

.containerForm {
    background-color: #f8f9f9;
    border: 2px solid #bdc3c7;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    justify-content: center;
}

.contentForm {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px;
}