:root {
    --black-color: #2c2c2c;
    --red-color: #d18c5e;
    --white-color: #fafafa;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #fafafa;
    font-size: 16px
}

#root {
    height: 100vh;
    width: 100vw;
}