* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #fafafa;
    font-size: 16px
}

#root {
    height: 100vh;
    width: 100vw;
}