.mainHome {
    width: 100%;
    max-width: 100%
}

.containerDashBord {
    display: flex;
    justify-content:center;
    margin: 10px;
}

.dashBordcontent {
    background: var(--background-light);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    max-width: 380px;
    width: 380px;
}

.wrapContentDashbord {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapContentDashbord .dashBordTitleContent {
    font-size: 18px;
    font-weight: 600;
}

.wrapContentDashbord .countDashbord {
    font-size:40px;
    font-weight: 800;
}

.containerPaneilPedidos{
    background: var(--background-content-light);
    max-width: 920px;
    width: 920px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapPainelPedidos {
    width: 100%;
}

.labelPainel {
    font-weight: 600;
    margin-right: 20px;
}